.card {
  border: 1px solid #f2547d;
  text-align: justify;
}
.no-padding {
  padding: 0;
}
.jumbotron {
  background-image: url("../../images/jumbo.jpg");
  background-size: cover;
  padding: 0;
  color: #ffffff;
}
.filter {
  background-color: #0085ca80;
  padding: 25px;
}
.link {
  color: #ffffff;
}
.lead {
  text-align: justify;
}
.border-radius {
  border-radius: 5px;
}
.grey-block {
  background-color: #f8f9fa;
  padding: 25px;
  text-align: justify;
}
