<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="filter col-4">
      <h1 class="display-4">Younder</h1>
      <p class="lead">
        Reimaginando os Processos de Treinamentos
      </p>
      <p class="lead no-padding">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis
        pretium mauris nec pretium. Ut scelerisque convallis lectus. Proin
        accumsan lacus turpis, vel fringilla nisl molestie quis. Vivamus sem
        arcu, auctor non pretium id, facilisis quis metus. Suspendisse rhoncus
        enim sit amet augue finibus, ac ullamcorper ex sagittis. Fusce id massa
        sit amet dolor sodales pharetra. Nullam vitae nisi in felis aliquam
        malesuada. Fusce sagittis massa sed ante viverra, id viverra nibh
        varius. Vivamus sagittis lorem in tempus dictum.
      </p>
      <a href="https://younder.com.br/" class="link">
        Saiba mais aqui!
      </a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="carousel">
    <ngx-tiny-slider [config]="config">
      <ng-container class="items">
        <div class="item">
          <img src="../../assets/images/clients/1.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/2.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/3.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/4.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/5.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/6.webp" />
        </div>

        <div class="item">
          <img src="../../assets/images/clients/7.webp" />
        </div>
      </ng-container>
    </ngx-tiny-slider>
  </div>
</div>
<div class="grey-block mb-5 mt-5">
  <div
    id="younderCarousel"
    class="carousel container slide border-radius"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#younderCarousel"
        data-slide-to="0"
        class="active indicators-color"
      ></li>
      <li
        data-target="#younderCarousel"
        data-slide-to="1"
        class="indicators-color"
      ></li>
      <li
        data-target="#younderCarousel"
        data-slide-to="2"
        class="indicators-color"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="../../assets/images/1.jpg?auto=yes&text=First slide"
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="../../assets/images/2.jpg?auto=yes&text=Second slide"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="../../assets/images/3.jpg?auto=yes&text=Third slide"
          alt="Third slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#younderCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#younderCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container">
  <div class="d-flex mb-5">
    <mat-card class="card mr-5">
      <mat-card-header>
        <mat-card-title>
          Lorem ipsum
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis
        pretium mauris nec pretium. Ut scelerisque convallis lectus. Proin
        accumsan lacus turpis, vel fringilla nisl molestie quis. Vivamus sem
        arcu, auctor non pretium id, facilisis quis metus. Suspendisse rhoncus
        enim sit amet augue finibus, ac ullamcorper ex sagittis. Fusce id massa
        sit amet dolor sodales pharetra. Nullam vitae nisi in felis aliquam
        malesuada. Fusce sagittis massa sed ante viverra, id viverra nibh
        varius. Vivamus sagittis lorem in tempus dictum.
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          Lorem ipsum
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis
        pretium mauris nec pretium. Ut scelerisque convallis lectus. Proin
        accumsan lacus turpis, vel fringilla nisl molestie quis. Vivamus sem
        arcu, auctor non pretium id, facilisis quis metus. Suspendisse rhoncus
        enim sit amet augue finibus, ac ullamcorper ex sagittis. Fusce id massa
        sit amet dolor sodales pharetra. Nullam vitae nisi in felis aliquam
        malesuada. Fusce sagittis massa sed ante viverra, id viverra nibh
        varius. Vivamus sagittis lorem in tempus dictum.
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="grey-block mb-4">
  <div class="container">
    <h3>Lorem ipsum dolor</h3>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis
      pretium mauris nec pretium. Ut scelerisque convallis lectus. Proin
      accumsan lacus turpis, vel fringilla nisl molestie quis. Vivamus sem arcu,
      auctor non pretium id, facilisis quis metus. Suspendisse rhoncus enim sit
      amet augue finibus, ac ullamcorper ex sagittis. Fusce id massa sit amet
      dolor sodales pharetra. Nullam vitae nisi in felis aliquam malesuada.
      Fusce sagittis massa sed ante viverra, id viverra nibh varius. Vivamus
      sagittis lorem in tempus dictum.
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis
      pretium mauris nec pretium. Ut scelerisque convallis lectus. Proin
      accumsan lacus turpis, vel fringilla nisl molestie quis. Vivamus sem arcu,
      auctor non pretium id, facilisis quis metus. Suspendisse rhoncus enim sit
      amet augue finibus, ac ullamcorper ex sagittis. Fusce id massa sit amet
      dolor sodales pharetra. Nullam vitae nisi in felis aliquam malesuada.
      Fusce sagittis massa sed ante viverra, id viverra nibh varius. Vivamus
      sagittis lorem in tempus dictum.
    </span>
  </div>
</div>
